body{
    background: rgb(0,36,105);
    background: linear-gradient(126deg, rgba(0,36,105,1) 31%, rgba(0,0,0,1) 72%);
    justify-content: center;
    display: flex;
    color: white;
    
        font-family: "Akaya Kanadaka", system-ui;
        font-weight: 400;
        font-style: normal;
      
      
}
.container{
   width: 800px;
   height: 400px;
   background-color: white;
   color: black;
   border-radius: 8px;
   position: absolute;
   margin-top: 30px;
   text-align: center;
   
}
.submit{
    width: 200px;
    height: 28px;
    background: #1b8700;
    border-radius: 4px;
}
.caixa{
    width: 400px;
    height: 28px;
}